# LaTeX build artifacts
*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.gls
*.glg
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
main.pdf
*.png

# Minted cache
_minted/

# Windows alternate data streams
*:Zone.Identifier
masterproef_template_main__1_/venv/*